<div class="row">
  <div class="col-6 offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div> -->
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <!-- <ng-template appPlaceholder></ng-template> -->
    <div *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          ngModel
          name="email"
          type="email"
          id="email"
          required
          class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          ngModel
          name="password"
          type="password"
          id="password"
          required
          minlength="6"
          class="form-control">
      </div>
      <div class="d-flex">
        <button
          type="submit"
          [disabled]="!authForm.valid"
          class="btn-primary btn">
          {{isLoginMode ? 'Login' : 'Sign Up'}}
        </button>
        <button
          type="button"
          class="btn-primary btn ml-4"
          (click)="onSwitchMode()">
          {{isLoginMode ? 'Switch to signup' : 'Switch to login'}}
        </button>
      </div>
    </form>
  </div>
</div>
